.body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}
.yellow{
    background-color: rgb(117, 117, 7);
}
.red{
    background-color: rgb(123, 7, 7);
}
.green{
    background-color: rgb(4, 52, 4);
}
.purple{
    background-color: purple;
}